#acerca-de{
background: radial-gradient(circle, #4E2394, #DBC9F5)
}
#contacto{
background: radial-gradient(circle, #00a971, #DBC9F5);
}
#galeria{
background: radial-gradient(circle, #001fa9, #DBC9F5);
}




















/* .green{
    text-align: center;
   background-color: green;
    
    width: 100px;
    height: 100px;
    border-radius: 22px;
}
.nav{
    text-align: center;
    
} */